/*--- Home ---*/

.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem 13rem 2rem;
}

.home h1 {
  line-height: 4rem;
  font-size: 54px;
}

.logo {
  margin-left: 15rem;
}

@media screen and (max-width: 900px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 2rem 4rem 2rem;
  }

  .logo {
    margin: auto;
    width: 50%;
  }

  .home h1 {
    line-height: 2rem;
    font-size: 24px;
  }

  .home a {
    margin: 5rem;
  }
}

/*--- ABOUT ---*/

.about {
  width: 100%;
  margin-bottom: 15rem;
}

.title {
  text-align: center;
  margin: 3rem 0;
  font-size: 23px;
}

.text-left {
  width: 350px;
  height: auto;
  font-size: 18px;
}

.text-left h3 {
  text-align: center;
  margin: 1rem 0;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text img {
  width: 395px;
  height: 160px;
  margin-left: 15rem;
}

@media screen and (max-width: 900px) {
  .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .text img {
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 4rem;
  }
}
