/*--- Home ---*/

.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem 13rem 2rem;
}

.home h1 {
  line-height: 4rem;
  font-size: 54px;
}

.logo {
  margin-left: 15rem;
}

@media screen and (max-width: 900px) {
  .logo {
    display: none;
  }

  .home h1 {
    line-height: 2rem;
    font-size: 24px;
  }

  .home a {
    margin: 5rem;
  }
}
